@import url(https://fonts.googleapis.com/css?family=Special+Elite:400,700);
body {
  color: #595653;
  margin: 0;
  background-color: #f7f6f4;

  font-family: 'Special Elite', cursive;
}
#header {
  background-color: #00939b;
  height: 150px;
  line-height: 150px;
}
#header a {
  color: #fff6ea;
  text-decoration: none;

  text-transform: uppercase;
  letter-spacing: 0.1em;
}
#header a:hover {
  color: #353331
}
#header-title {
  display: block;
  float: left;

  font-size: 20px;
  font-weight: bold;
}
#header-nav {
  display: block;
  float: right;
  margin-top: 0;
}
#header-nav li {
  display: inline;
  padding-left: 20px;
}
.container {
  max-width: 1000px;
  margin: 0 auto;
}
.post-container:nth-child(even) {
  background-color: #fff9ef
}
.post, .about {
  max-width: 800px;
  margin: 0 auto;
  padding: 60px 0;
}
.about {
  text-align: center;
}
.post-author img {
  width: 50px;
  height: 50px;
  vertical-align: middle;
  border-radius: 50%;

}
.about-author img {
  width: 250px;
  height: 250px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 50%;
}
.post-author span {
  margin-left: 16px
}
.post-date {
  color: #d6cfc5;

  font-size: 14px;
  font-weight: bold;

  text-transform: uppercase;
  letter-spacing: 0.1em;
}
h1, h2, h3, h4 {
  clear: #353331;
}
p {
  line-height: 1.5;
}
#footer {
  background-color: #353331;
  padding: 50px 0;
}
#footer h4 {
  color: #fff6ea;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}
#footer p {
  color: #fff6ea;
}
a {
  color: #00939b;
  text-decoration: none;
}
a:hover {
  color: #e8bd76;
}
.column {
  min-width: 246px;
  display: inline-block;
  vertical-align: top;
}
